//====================global header
.layout-header {
	//@include abs-center;
	//@include abs-center-fixed;
	bottom: auto;
	z-index: 50;
	padding-top: 40px;
	padding-bottom: 135px;
	background: url("../images/header-fon.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

	&.active {

	}

	.si-phone {
		padding-top: 0px;
	}


.logo {
	display: inline-block;

	img {
		display: block;
		margin-right: 26px;
	}
}

.logo-text{
	display: inline-block;
	width: 170px;
	color: #fff;
	margin-top: 15px;
	vertical-align: top;

	.logo-title{
		font: 600 23px/23px "Myriad", sans-serif;
		margin-bottom: 12px;
	}

	p{
		font: 300 17px/22px "Myriad", sans-serif;
	}

}

.si-phone {
	display: inline-block;
	margin-top: 15px;
	margin-right: 70px;


	.phone-link {
		display: block;
		margin-bottom: 18px;
		font: 700 23px/23px "Agora Slab", sans-serif;
		color: #fff !important;
	}

	.consult{
		font: 700 16px/16px "Agora Slab", sans-serif;
		color: #e1be78 !important;
		border-bottom: 1px dashed #e1be78;
		display: block;
		width: 140px;
		background-color: transparent !important;
		float: right;

		&:hover{
			border-bottom: none;
		}
	}
}

.nav-block {
	display: block;
	width: 100%;
	position: relative;
	margin-top: 60px;
	margin-bottom: 60px;

	.nav{
		position: absolute;
		top: -163px;
		right: 0;
	}

	.menu{
		width: 100%;
		display: block;

		ul{
			display: flex;
			justify-content: space-between;
			margin: 0;
			padding: 0;
			list-style-type: none;

			li{
				display: inline-block;

				a{
					font: 700 23px/23px "Agora Slab", sans-serif;
					color: #fff !important;
					text-decoration: none;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}

	.title-block{
		width: 800px;
		display: inline-block;
	}

	h1{
		width: 800px;
		display: block;
		font: 700 57px/60px "Agora Slab", sans-serif;
		color: #fff;
		margin-bottom: 26px;

		span{
			color: #e1be78;
		}
	}

	.sub_title{
		width: 600px;
		display: block;
		font: 300 32px/38px "Myriad", sans-serif;
		color: #fff;
		margin-bottom: 70px;
	}

	.brown-button{
		display: block;
		width: 248px;
		height: 60px;
		border-radius: 30px;
		border: 1px solid #e1be78;
		text-align: center;
		font: 700 16px/60px "Myriad", sans-serif;
		color: #fff !important;
		background-color: transparent;
		margin-bottom: 100px;
	}

	.header-door-block{
		width: 350px;
		vertical-align: top;
		display: inline-block;
		position: relative;
		float: right;
	}

	.header-door{
		display: block;
		position: relative;
		float: right;
		z-index: 10;

		&.i-1{
			position: absolute;
			margin-top: 93px;
			z-index: 5;
			left: 58px;
		}

		&.i-2{
			position: absolute;
			margin-top: 157px;
			z-index: -1;
		}
	}


	.sub-header{
		width: 600px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 75px;

		.sub-header-block{
			width: 130px;
			display: inline-block;

			p{
				font: 400 15px/15px "Myriad", sans-serif;
				color: #fff;
				display: block;
				margin-bottom: 16px;
			}

			span{
				font: 700 23px/23px "Agora Slab", sans-serif;
				color: #e1be78;
			}
		}
	}

	.down{
		width: 30px;
		display: block;
		margin: 0 auto;
		font: 400 14px/14px "Myriad", sans-serif;
		color: #fff;
		position: relative;

		&:after{
			content: '';
			position: absolute;
			width: 1px;
			height: 35px;
			background-color: #ffffff;
			bottom: -40px;
			left: 50%;
		}
	}
}